.fade-header {
  opacity: 0;
  animation: fadeHeader 1s forwards;
}

@keyframes fadeHeader {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Top → Bottom */
.move-down {
  animation: moveDown 0.5s linear;
}
@keyframes moveDown {
  from { transform: translateY(-500px);
        opacity: 0; }
  to   { transform: translateY(0); 
        opacity: 1; }
}