/* Default hidden before animation */
.animate-rows tr {
  opacity: 0;
  transform: translateY(-20px);
  animation: rowFade 0.5s ease forwards;
}

/* Stagger each row */
.animate-rows tr:nth-child(1) { animation-delay: 0.1s; }
.animate-rows tr:nth-child(2) { animation-delay: 0.3s; }
.animate-rows tr:nth-child(3) { animation-delay: 0.5s; }
.animate-rows tr:nth-child(4) { animation-delay: 0.7s; }
.animate-rows tr:nth-child(5) { animation-delay: 0.9s; }

/* Keyframes */
@keyframes rowFade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.bounce-glow {
  padding: 5px 10px;
  font-size: 16px;
  color:#f8f9fa;
  background: #1d6eb5;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 12px;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bounce-glow:hover {
  animation: bounce 0.5s;
  box-shadow: 0 0 15px rgb(251, 190, 105), 0 0 30px rgb(238, 181, 56);
  background-color: #79b2e4;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
  100% { transform: translateY(0); }
}
