
.fade-header {
  opacity: 0;
  animation: fadeHeader 1s forwards;
}

@keyframes fadeHeader {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Top → Bottom */
.move-down {
  animation: moveDown 0.3s linear;
}
@keyframes moveDown {
  from { transform: translateY(-500px);
        opacity: 0; }
  to   { transform: translateY(0); 
        opacity: 1; }
}

/* Right → Left */
.move-left {
  animation: moveLeft 0.3s linear;
}
@keyframes moveLeft {
  from { transform: translateX(-500px); 
        opacity: 0; }
  to   { transform: translateX(0); 
        opacity: 1; }
}

/* Bottom → Top */
.move-up {
  animation: moveUp 0.3s linear;
}
@keyframes moveUp {
  from { transform: translateY(200px); 
        opacity: 0;}
  to   { transform: translateY(0); 
        opacity: 1; }
}

/* Default hidden before animation */
.animate-rows tr {
  opacity: 0;
  transform: translateY(-20px);
  animation: rowFade 0.3s ease forwards;
}

/* Stagger each row */
.animate-rows tr:nth-child(1) { animation-delay: 0.1s; }
.animate-rows tr:nth-child(2) { animation-delay: 0.5s; }
.animate-rows tr:nth-child(3) { animation-delay: 0.7s; }

/* Keyframes */
@keyframes rowFade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}