@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
 
body {
   font-family: 'Tiktok Sans', sans-serif;
   margin: 0;
   padding: 0;
   background-color: #f5f5f5;
}

 .user,th{
   font-size: 20px;
}

 h1 {
   font-weight: 600;
   font-size: 1.7rem;
   color: #333333;
   margin-bottom: 1rem;
}

.btn-add {
   background-color: #007bff;
   color: white;
   border: none;
   padding: 10px 20px;
   font-size: 16px;
   border-radius: 8px;
   transition: 0.3s;
}

.btn-add:hover {
   background-color: #0056b3;
}

    /* Slide down animation */
.modal.fade .modal-dialog {
   transform: translateY(-100px);
   transition: transform 0.4s ease-out;
}

.modal.show .modal-dialog {
   transform: translateY(0);
}
    
.modal-backdrop {
   display: none !important;
}

table {
   margin-top: 40px;
}

.action-btns button {
   margin-right: 5px;
}

.fade-header {
  opacity: 0;
  animation: fadeHeader 1s forwards;
}

@keyframes fadeHeader {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}